.focus {
  &-area {
    padding-top: 113px;
  }

  &-content {
    margin-top: 100px;

    .title {
      margin-bottom: 0;
    }

    p {
      margin-top: 13px;
      max-width: 503px;
    }
  }

  &-image {
    margin-right: -128px;
    margin-left: 80px;

    @media (max-width: 1480px) {
      margin-left: 20px;
      margin-right: -20px;
    }
  }
}

.optimize {
  &-area {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &-title {
    align-self: center;

    h4 {
      color: $black-approx;
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
    }

    p {
      font-size: 16px;
      line-height: 22px;
      margin: 22px 0 18px 0;
      max-width: 288px;
    }

    a {
      font-family: $ceb;
      color: $persimmon-approx;
      text-transform: capitalize;
      font-size: 18px;
      line-height: 22px;
    }
  }

  &-image {
    position: relative;

    img {
      z-index: 1;
    }

    &-circle {
      position: absolute;
      bottom: 8px;
      right: -43px;
      z-index: -1;
      width: 455px;
      height: 455px;
      border-radius: 50%;
      background: #f2c0b3;
      opacity: 0.2;
    }
  }
}

.apps-promo {
  align-self: center;
  padding-left: 78px;
}

.apps-promo {
  &-item {
    max-width: 355px;
    padding-bottom: 30px;
    cursor: pointer;

    .icon_box {
      margin-right: 30px;
      width: 60px;
      height: 60px;
      background: $white;
      text-align: center;
      box-shadow: 0px 5px 30px rgba(5, 19, 69, 0.08);
      border-radius: 3px;
      color: #2e3a59;
      font-size: 25px;
      line-height: 60px;
      @include transition;
    }

    &:hover {
      .icon_box {
        color: $persimmon-approx;
      }

      h4 {
        color: $persimmon-approx;
      }
    }
  }

  &-content {
    flex: 1;

    h4 {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 1.3;
      color: $black-approx;
      text-transform: capitalize;
      @include transition;
      margin-bottom: 15px;
    }

    p {
      font-size: 16px;
      line-height: 26px;
      letter-spacing: -0.025em;
      margin: 0;
    }
  }
}

.function {
  &-area {
    padding: 100px 0px;
    text-align: center;

    .title {
      margin-bottom: 70px;
    }
  }

  &-item {
    .feature-img {
      margin-bottom: 20px;
    }

    h4 {
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      color: #2f323a;
      text-transform: capitalize;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
      line-height: 28px;
      max-width: 263px;
      margin: 0 auto;
    }
  }
}

.counterup {
  &-area {
    padding-top: 87px;
    padding-bottom: 87px;
  }

  &-item {
    span {
      font-family: $paragraph-font-family;
      font-weight: 500;
      font-size: 50px;
      line-height: 40px;
      letter-spacing: -0.01em;
      color: $persimmon-approx;
      margin-bottom: 10px;
    }

    h6 {
      font-size: 16px;
      line-height: 40px;
      letter-spacing: 0.025em;
      color: $black-approx;
      text-transform: capitalize;
    }
  }
}

// about area
.about_area {
  padding-top: 40px;
  padding-bottom: 50px;
}

.about_img {
  position: relative;
  padding-bottom: 20px;
  padding-top: 50px;

  .img_one {
    border-radius: 10px;
  }

  .img_two {
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 10px;
  }

  .dot {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  .shap {
    position: absolute;
    left: 0;
    top: 115px;
    z-index: -1;
  }
}

.about_content {
  padding-left: 100px;

  .title {
    margin-bottom: 30px;

    h2 {
      font-size: 42px;
    }
  }

  .text_btn {
    margin-top: 20px;
  }
}