/*======== breadcrumb_area  css =======*/
.breadcrumb_area {
  padding: 56px 0px;
  .border_line {
    margin-top: 20px;
    margin-bottom: 12px;
  }
}
.page-title {
  font-size: 36px;
  font-weight: 600;
  color: $black;
}
.breadcrumb {
  padding: 0px;
  background: transparent;
  justify-content: center;
  margin-bottom: 0px;
  li {
    font-size: 14px;
    color: #838383;
    a {
      color: $pcolor;
      font-weight: 600;
    }
    & + li {
      &:before {
        content: "/";
        display: inline-block;
        margin-left: 6px;
        margin-right: 4px;
      }
    }
  }
}
/*======== breadcrumb_area  css =======*/

/*======== banner_slider  css =======*/
.banner_slider {
  margin-bottom: 0 !important;
  height: 860px;
  .slick-arrow {
    &.slick-prev {
      left: 50px;
    }
    &.slick-next {
      right: 50px;
    }
    &:hover {
      &.slick-prev {
        left: 40px;
      }
      &.slick-next {
        right: 40px;
      }
    }
  }
  .slick-list,
  .slick-track {
    height: 100%;
  }
  .item {
    display: flex;
    align-items: center;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(60deg, #00b1ff -30%, #ff00ed 100%);
      left: 0;
      right: 0;
      z-index: 0;
      opacity: 0.4;
    }
  }
  .slick-dots {
    position: absolute;
    max-width: 1140px;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    bottom: 30px;
    li {
      border-color: #fff;
      background: transparent;
      &.slick-active {
        background: #fff;
      }
    }
  }
}
.slider_text {
  position: relative;
  z-index: 1;
  h3,
  h2 {
    color: #fff;
  }
  h3 {
    font-size: 66px;
    font-weight: 400;
    line-height: 1.5;
  }
  h2 {
    font-size: 150px;
    line-height: 1.1;
    font-weight: 900;
  }
  .theme_btn {
    margin-top: 50px;
  }
}
/*======== banner_slider  css =======*/

/*======== banner_area_two  css =======*/
.banner_portfolio_img {
  margin-top: 100px;
  position: relative;
}
.pattern_img {
  margin-bottom: 0;
  li {
    position: absolute;
    &:nth-child(1) {
      left: -50px;
      top: -50px;
    }
    &:nth-child(2) {
      left: 250px;
      top: 270px;
    }
    &:nth-child(3) {
      right: 200px;
      bottom: 150px;
    }
  }
}
.small_img {
  margin-bottom: 0;
  li {
    position: absolute;
    img {
      border-radius: 10px;
      box-shadow: 0px 10px 35px 0px rgba(24, 24, 24, 0.1%);
    }
    &:nth-child(1) {
      left: -88px;
      bottom: 80px;
    }
    &:nth-child(2) {
      right: -350px;
    }
    &:nth-child(3) {
      top: 70px;
      left: 50px;
    }
  }
}
.banner_content {
  h2 {
    font-size: 45px;
    line-height: 1.5;
    font-weight: 700;
    color: $title;
    margin-bottom: 20px;
  }
  p {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 45px;
  }
}
/*======== banner_area_two  css =======*/
