.breadcrumb {
    &-area {
      position: relative;
      z-index: 1;
      min-height: 455px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    &-content {
      text-align: center;
      z-index: 4;
      .breadcrumb-title {
        font-weight: 500;
        font-size: 20px;
        text-transform: capitalize;
        margin-bottom: 0px;
        color: $white;
      }
      p {
        font-size: 20px;
        line-height: 30px;
        color: $white;
        max-width: 540px;
        margin: 0 auto;
      }
      .post-date {
        font-size: 16px;
        line-height: 1;
        color: $white;
        font-weight: 400;
  
        i {
          margin-right: 10px;
        }
      }
      .border_line {
        margin-top: 20px;
        margin-bottom: 12px;
      }
    }
}

.breadcrumb-list{
  display: inline-block;
  line-height: 20px;
  span {
    display: inline-block;
    vertical-align: top;
      font-size: 14px;
      color: $white;
      a {
        color: $white;
        &:hover span{
          color: $persimmon-approx;
        }
      }
      &.br-devider{
        padding: 2px 8px;
      }
      &.current{
        color: $persimmon-approx;
      }
    }
}
.breadcrumb-1{
    background: transparent;
    .breadcrumb-content {
      padding-top: 85px;
        .breadcrumb-title{
            font-size: 50px;
        }
    }
}
.breadcrumb-2{
    min-height: auto;

}
.breadcrumb-3{
    min-height: auto;
    .breadcrumb-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: -10px;
    }
}
  .overlay {
    content: "";
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }