.hover_btn {
  border-radius: 5px;
  font-family: $paragraph-font-family;
  font-weight: 600;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  text-transform: capitalize;
  display: inline-block;
  padding: 6px 38px;
  background-color: $persimmon-approx;
  border: 0px;
  color: $white;
  overflow: hidden;
  position: relative;
  transition: all 0.4s;
  z-index: 1;
  &:before {
    content: "";
    display: block;
    position: absolute;
    background-color: $black-approx;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 0;
    transform: translate3d(-50%, -50%, 0) rotate(45deg);
    transition: all 0.45s;
    z-index: -1;
  }
  &:hover {
    color: $white;
    &:before {
      height: 400%;
      z-index: -1;
    }
  }
}

.blue_btn {
  font-weight: 500;
  background: #3740ff;
  &:before {
    background: #545bf7;
  }
  i {
    font-size: 10px;
    margin-left: 5px;
  }
}

.text_btn {
  font-size: 18px;
  letter-spacing: 0.01em;
  color: #3740ff;
  transition: all 0.2s;
  display: inline-block;
  font-weight: 500;
  i {
    font-size: 12px;
    vertical-align: middle;
    margin-left: 10px;
  }
  &:hover {
    color: $persimmon-approx;
  }
}
