.topic-area{
    padding-top: 187px;
}
.topic-content{
    .topic-search-form{
        padding-bottom: 30px;
        .live-search-box{
            padding: 15px;  
        }
        &.focus{
            border: 1px solid #29b1fd;
        }
    }
}
.topic-question-answer{
    text-align: left;
    .topic {
        padding: 20px;
        padding-top: 0px;
        padding-bottom: 0px;
        border-bottom: solid 1px #ebebeb;
        &.expanded{
            background-color: #f4f4f4;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
            i {
                -webkit-transform: rotate(-180deg);
                -moz-transform: rotate(-180deg);
                -ms-transform: rotate(-18deg);
                -o-transform: rotate(-180deg);
                transform: rotate(-180deg);
            }
        }
        .open {
            cursor: pointer;
            display: block;
            padding: 0px;
            position: relative;
            &:hover .question{
                color: $persimmon-approx;
            }
        }
        .question {
            padding: 20px 0;
            color: #020202;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
        }
        .answer {
            font-size: 16px;
            line-height: 24px;
            display: none;
            margin-bottom: 30px;
            padding-left: 20px;
            padding-right: 20px;
        }
        i {
            font-size: 18px;
            color: #323232;
            position: absolute;
            top: 20px;
            right: 20px;
            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;
            -ms-transition: all .5s ease;
            -o-transition: all .5s ease;
            transition: all .5s ease;
        }
    }
    &.accordion-2{
        .expanded{
            background: transparent;
            
        }
        i{
            width: 50px;
            height: 50px;
            text-align: center;
            font-size: 16px;
            line-height: 48px;
            border-radius: 50%;
            color: #fff;
            top: 10px;
            right: 20px;
            background: $persimmon-approx;
            transition: all 0.2s linear;
        }
    }
    
}