.pricing {
    &-area {
      margin-top: 80px;
      padding: 110px 0 170px 0;
    }
    &-item {
      box-shadow: 0px 4px 10px rgba(5, 19, 69, 0.06);
      border-radius: 6px;
      padding-bottom: 50px;
      margin-bottom: 30px;
      .pricing-header{
        padding-top: 25px;
        padding-bottom: 20px;
        .price-title{
          font-size: 20px;
          line-height: 30px;
          text-transform: capitalize;
          font-weight: 600;
        }
      }
      .price{
          font-size: 47px;
          font-weight: bold;
          color: $black-approx;
          -webkit-transition: 0.5s;
          transition: 0.5s;
          sup{
            top: -18px;
            font-size: 30px;
            font-weight: bold;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            color: $black-approx;
          }
          sub{
            color: $black-approx;
            font-size: 18px;
            font-weight: 600;
            -webkit-transition: 0.5s;
            transition: 0.5s;
          }
      }
      &.pricing-1{
        border-top: 6px solid transparent;
        .price{
          padding: 30px 0px 48px 0;
          border-top: 1px solid #f3f3f3;
          border-bottom: 1px solid #f3f3f3;
          sup{
            top: -18px;
            font-size: 30px;
            font-weight: bold;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            color: $black-approx;
          }
          sub{
            bottom: -18px;
            display: block;
          }
        }
      }
      &.pricing-2{
        .price{
          padding: 30px 0;
          border-top: 1px dashed #f3f3f3;
          border-bottom: 1px dashed #f3f3f3;
          sub{
            bottom: 2px;
          }
        }
      }
      ul.pricing-features {
        margin: 0;
        padding: 40px 0 40px 0px;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        li {
          list-style: none;
          margin-bottom: 10px;
          -webkit-transition: 0.5s;
          transition: 0.5s;
          a {
            font-size: 18px;
            line-height: 27px;
            color: $black-approx;
            font-weight: 500;
            position: relative;
            padding-left: 25px;
            display: inline-block;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            i {
              color: $persimmon-approx;
              position: absolute;
              left: 0;
              top: 5px;
              -webkit-transition: 0.5s;
              transition: 0.5s;
            }
          }
        }
      }
      .plan {
        font-size: 14px;
        line-height: 21px;
        text-transform: capitalize;
        color: $black-approx;
        font-weight: 500;
        border: 1px solid #c4c4c4;
        border-radius: 4px;
        padding: 12px 38px;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        background: $white;
      }
      &.pricing-hover-1{
        &:hover {
            border-top: 6px solid $persimmon-approx;
            box-shadow: 0px 30px 60px rgba(5, 19, 69, 0.08);
            -webkit-transition: 0.5s;
            transition: 0.5s;
            .plan {
              background: $persimmon-approx;
              color: $white;
              border-color: $persimmon-approx;
            }
          }
    }
    &.pricing-hover-2{
        &:hover{
            -webkit-transition: 0.5s;
            transition: 0.5s;
            background-color: $persimmon-approx;
            .pricing-header{
              .price-title{
                color:$white; 
              }
            }
            h5{
                color:$white; 
            }
            h6{
                color:$white;
            }
            .price{
              color:$white;
              sup{
                color:$white;
              }
              sub{
                color:$white;
              }
            }
            ul.pricing-features {
                li{
                    a{
                        color:$white;
                        i{
                            color:$white
                        }
                    }
                }
            }
        }
    }
    &.pricing-highlight-1{
            background-color: $persimmon-approx;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            .pricing-header{
              .price-title{
                color:$white; 
              }
            }
            h5{
                color:$white; 
            }
            h6{
                color:$white;
            }
            .price{
              color:$white;
              sup{
                color:$white;
              }
              sub{
                color:$white;
              }
            }
            ul.pricing-features {
                li{
                    a{
                        color:$white;
                        i{
                            color:$white
                        }
                    }
                }
            }
    }
    }
  }
.switcher{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    .switcher-wrapper{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        .switcher-button {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            position: relative;
            cursor: pointer;
            -webkit-transition: background-color 0.3s cubic-bezier(0.44, 0.95, 0.57, 0.97);
            -o-transition: background-color 0.3s cubic-bezier(0.44, 0.95, 0.57, 0.97);
            transition: background-color 0.3s cubic-bezier(0.44, 0.95, 0.57, 0.97);
            .switcher-handler {
                position: absolute;
                -webkit-border-radius: inherit;
                border-radius: inherit;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: stretch;
                -ms-flex-align: stretch;
                align-items: stretch;
                top: 0;
                z-index: 1;
                span {
                    -webkit-box-flex: 0;
                    -ms-flex: 0 1 100%;
                    flex: 0 1 100%;
                    margin: 3px;
                    -webkit-transition: all 0.3s cubic-bezier(0.44, 0.95, 0.57, 0.97);
                    -o-transition: all 0.3s cubic-bezier(0.44, 0.95, 0.57, 0.97);
                    transition: all 0.3s cubic-bezier(0.44, 0.95, 0.57, 0.97);
                    -webkit-border-radius: inherit;
                    border-radius: inherit;
                  }
              }
              .switcher-control {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                cursor: pointer;
                outline: none;
                pointer-events: none;
                z-index: 2;
                text-align: center;
                -webkit-transition: all 0.3s cubic-bezier(0.44, 0.95, 0.57, 0.97);
                -o-transition: all 0.3s cubic-bezier(0.44, 0.95, 0.57, 0.97);
                transition: all 0.3s cubic-bezier(0.44, 0.95, 0.57, 0.97);
                .switcher-label-text {
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }
              }
              &.switcher-button-1{
                background-color: #ffffff;
                border-radius: 50px;
              }
              &.switcher-button-2{
                background-color: #ffffff;
                border-radius: 0px;
              }
          }
    }
      &.switcher-1{
        .switcher-button{
            width: 300px;
            padding: 16px 0px;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            box-shadow: 0px 10px 35px 0px rgba(48, 191, 255, 0.2);
            .switcher-control {
                max-width: 100%;
              }
            .switcher-handler {
                width: 50%;
                height: 100%;
                -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.44, 0.95, 0.57, 0.97);
                transition: -webkit-transform 0.3s cubic-bezier(0.44, 0.95, 0.57, 0.97);
                -o-transition: transform 0.3s cubic-bezier(0.44, 0.95, 0.57, 0.97);
                transition: transform 0.3s cubic-bezier(0.44, 0.95, 0.57, 0.97);
                transition: transform 0.3s cubic-bezier(0.44, 0.95, 0.57, 0.97), -webkit-transform 0.3s cubic-bezier(0.44, 0.95, 0.57, 0.97);
              }
              .switcher-control--disable {
                width: 50%;
                height: 100%;
              }
              .switcher-control--enable {
                width: 50%;
                height: 100%;
              }
          }
          &.switcher-disable{
            .switcher-wrapper{
              .switcher-button{
                .switcher-handler{
                    -webkit-transform: translateX(0);
                    -ms-transform: translateX(0);
                    transform: translateX(0);
                    span {
                        background-color: $persimmon-approx;
                      }
                }
                .switcher-control--disable{
                    color: $white;
                }
              }
            }
          }
          &.switcher-enable{
            .switcher-wrapper{
                .switcher-button{
                    .switcher-handler{
                        -webkit-transform: translateX(100%);
                        -ms-transform: translateX(100%);
                        transform: translateX(100%);
                        span {
                            background-color: $persimmon-approx;
                        }
                    }
                    .switcher-control--enable{
                        color: $white;
                    }
                }
            }
          }
      }
      .switcher-content-wrapper {
        width: 100%;
        position: relative;
        -webkit-transition: height 0.25s cubic-bezier(0.44, 0.96, 0.5, 0.98);
        -o-transition: height 0.25s cubic-bezier(0.44, 0.96, 0.5, 0.98);
        transition: height 0.25s cubic-bezier(0.44, 0.96, 0.5, 0.98);
        overflow: hidden;
        .switcher-content {
            width: 100%;
            top: 0;
            left: 0;
            position: absolute;
            opacity: 0;
            pointer-events: none;
            &.active-content {
                position: relative;
                pointer-events: auto;
                opacity: 1;
              }
          }
      }
      &.switcher-move-up-effect{
        .switcher-content-wrapper {
            .switcher-content{
                &.active-content {
                    -webkit-animation-name: switcherMoveUp;
                    animation-name: switcherMoveUp;
                    -webkit-animation-duration: 500ms;
                    animation-duration: 500ms;
                    -webkit-animation-timing-function: cubic-bezier(0.26, 0.69, 0.37, 0.96);
                    animation-timing-function: cubic-bezier(0.26, 0.69, 0.37, 0.96);
                    -webkit-animation-play-state: running;
                    animation-play-state: running;
                  }
            }
        }

      }
}