//portfolio grid
.portfoliogrid {
  &-gallery-filter {
    ul {
      justify-content: center;
      margin-bottom: 45px;
      li {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: $paragraph-color;
        text-transform: capitalize;
        padding-left: 10px;
        padding-right: 10px;
        @include transition;
        cursor: pointer;
      }
      .active {
        color: $persimmon-approx;
      }
    }
  }
  &-image {
    padding: 100px 0px;
    .title {
      margin-bottom: 50px;
    }
    .full-inner {
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
  }
  &-masonary {
    padding-bottom: 0;
  }
  &-inner {
    margin-left: 7px;
    margin-right: 7px;
    .portfolio {
      padding-left: 7px;
      padding-right: 7px;
      padding-bottom: 15px;
      cursor: pointer;
      .port-image {
        position: relative;
        overflow: hidden;
        img {
          @include transition;
        }
        &:before {
          content: "";
          background: rgba(255, 87, 87, 0.4);
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          position: absolute;
          height: 100%;
          width: 100%;
          z-index: 1;
          display: block;
          transition-timing-function: ease-out;
          transform: scale(0);
          transition-property: transform;
          transition-duration: 0.3s;
        }
        &:hover {
          img {
            transform: scale(1.05);
          }
          &:before {
            transform: scale(1);
          }
          .img_popup {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
          }
        }
      }
    }
    .full-portfolio {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
      margin: 0;
    }
    .grid-sizer {
      width: 20%;
    }
    .wid-40 {
      width: 40%;
    }
    .wid-20 {
      width: 20%;
    }
  }
}
//portfolio grid

.img_popup {
  width: 50px;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  left: 50%;
  top: 50%;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  transform: translate(-50%, -50%) scale(0.8);
  opacity: 0;
  z-index: 2;
  transition: all 0.3s linear;
  position: absolute;
  &:hover {
    background: #fff;
    color: $black-approx;
  }
}

.portfolio-slider {
  padding-bottom: 140px;
}


// portfolio_area_two css 
.portfolio_item{
  margin-bottom: 45px;
  .img_hover{
    display: block;
    overflow: hidden;
    img{
      transition: all 0.3s;
    }
  }
  .content{
    background: #FFFFFF;
    box-shadow: 0px 8px 40px rgba(5, 19, 69, 0.1);
    margin-left: 25px;
    margin-right: 25px;
    padding: 20px;
    margin-top: -50px;
    position: relative;
    z-index: 1;
    h3{
      font-size: 22px;
      font-weight: 600;
      color: #020202;
      transition: all 0.2s;
    }
    .categorie{
      a{
        font-size: 16px;
        color: #6E727D;
        transition: color 0.2s;
        &:hover{
          color: $persimmon-approx;
        }
      }
    }
  }
  &:hover{
    img{
      transform: scale(1.03);
    }
    h3{
      color: $persimmon-approx;
    }
  }
}