/*========= portfolio_area css ==========*/
.portfolio-filter-buttons {
  padding: 0px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 55px;
  margin-left: -20px;
  margin-right: -20px;
  li {
    display: inline-block;
    margin: 0px 20px;
    a {
      font-size: 14px;
      color: $title;
      font-weight: 500;
      transition: color 0.2s linear;
    }
    &.current,
    &:hover {
      a {
        color: $blue;
      }
    }
  }
}
.portfolio_item {
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  z-index: 1;
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background-image: linear-gradient(
      145deg,
      rgb(0, 177, 255) 0%,
      rgb(255, 0, 237) 100%
    );
    opacity: 0;
    transition: opacity 0.3s;
  }
  img {
    max-width: 100%;
    transition: all 0.3s;
  }
  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    &:before,
    &:after {
      content: "";
      position: absolute;
      background: #fff;
      display: block;
    }
    &:before {
      width: 40px;
      height: 2px;
      transform: scaleX(0);
      transform-origin: right;
      transition: all 0.5s linear;
      transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      transition-property: transform;
    }
    &:after {
      height: 40px;
      width: 2px;
      transform: scaleY(0);
      transform-origin: bottom;
      transition: all 0.4s linear 0.3s;
      transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      transition-property: transform;
    }
  }
  &:hover {
    &:before {
      opacity: 0.7;
    }
    img {
      transform: scale(1.03);
    }
    .icon {
      &:before {
        transform: scale(1);
        transform-origin: left;
      }
      &:after {
        transform: scale(1);
        transform-origin: top;
      }
    }
  }
}

.portfolio_area_two {
  position: relative;
  z-index: 1;
  .grid-item {
    margin-bottom: 60px;
  }
  .pagination {
    padding-top: 60px;
  }
}
.portfolio_content {
  .section_title {
    h2 {
      font-size: 24px;
      line-height: 1.7;
      margin-bottom: 14px;
    }
    h6 {
      margin-bottom: 16px;
    }
  }
  .text_btn {
    font-size: 14px;
    color: $blue;
    font-weight: 600;
    margin-top: 25px;
    display: inline-block;
  }
  p {
    font-size: 14px;
    line-height: 24px;
  }
}
/*========= portfolio_area css ==========*/

/*========= portfolio details area css ==========*/
.portfolio_details_area {
  position: relative;
  z-index: 1;
  p {
    line-height: 33px;
  }
}
.portfolio_details_content {
  .text {
    max-width: 700px;
    margin: 0 auto;
  }
  h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    color: $title;
    margin-bottom: 45px;
  }
}
.portfolio_single_gallery {
  padding-top: 100px;
  .slick-list {
    padding-left: 380px !important;
    padding-right: 380px !important;
    @media (max-width: 1199px) {
      padding-left: 100px !important;
      padding-right: 100px !important;
    }
    @media (max-width: 576px) {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
  }
  .item {
    padding-left: 15px;
    padding-right: 15px;
    img {
      max-width: 100%;
      border-radius: 10px;
    }
  }
  .slick-arrow {
    &.slick-prev {
      left: 250px;
    }
    &.slick-next {
      right: 250px;
    }
    &:hover {
      &.slick-prev {
        left: 240px;
      }
      &.slick-next {
        right: 240px;
      }
    }
  }
  .slick-dots {
    max-width: 1110px;
    margin: 55px auto 0px;
    @media (max-width: 1199px) {
      max-width: 800px;
    }
    @media (max-width: 991px) {
      max-width: 690px;
    }
    @media (max-width: 767px) {
      max-width: 510px;
    }
    @media (max-width: 576px) {
      max-width: calc(100% - 30px);
      margin-left: 15px;
      margin-right: 15px;
    }
    li {
      display: inline-block;
      width: calc(100% / 3);
      margin: 0px;
      border-radius: 0px;
      border: 0px;
      height: 5px;
      background: #eaf4f9;
    }
  }
}
.portfolio_info {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  .portfolio_info_item {
    width: calc(100% / 4);
    &:not(:last-child) {
      border-right: 1px solid #dfdddf;
    }
    h6 {
      font-size: 14px;
      font-weight: 700;
      color: #000;
      margin-bottom: 15px;
    }
    p {
      color: #838383;
      font-size: 14px;
      margin-bottom: 0;
    }
  }
}
.product_single_info {
  padding-top: 70px;
  .theme_btn {
    margin-top: 140px;
    @media (max-width: 991px) {
      margin-top: 70px;
    }
  }
}

/*========= portfolio_area css ==========*/
