body {
  line-height: 30px;
  font-size: 18px;
  font-family: $paragraph-font-family;
  height: 100vh;
}
a {
  transition: $transition;
  text-decoration: none;
  &:hover,
  &:focus {
      text-decoration: none;
      outline: 0;
  }
}
img{
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $paragraph-font-family;
  line-height: 1.3;
  color: $black-approx;
}
p {
  font-weight: 400;
  color: $paragraph-color;
  font-size: 18px;
  line-height: 30px;
}
i {
  &:before {
    margin-left: 0px !important;
  }
}
button:focus {
  outline: none;
  box-shadow: none;
}

.sec_pad {
  padding: 100px 0px;
}
.mrt-100{
  margin-top: 100px
}
.mrt-90{
  margin-top: 90px
}
.mrt-80{
  margin-top: 80px
}
.mrt-70{
  margin-top: 70px
}
.mrt-60{
  margin-top: 60px
}
.mrt-50{
  margin-top: 50px
}
.mrt-40{
  margin-top: 40px
}
.mrt-30{
  margin-top: 30px
}
.mrt-20{
  margin-top: 20px
}
.mrt-10{
  margin-top: 10px
}
.mrb-100{
  margin-bottom: 100px
}
.mrb-90{
  margin-bottom: 90px
}
.mrb-80{
  margin-bottom: 80px
}
.mrb-70{
  margin-bottom: 70px
}
.mrb-60{
  margin-bottom: 60px
}
.mrb-40{
  margin-bottom: 40px
}
.mrb-30{
  margin-bottom: 30px
}
.mrb-20{
  margin-bottom: 20px
}
.mrb-10{
  margin-bottom: 10px
}
.mrb-5{
  margin-bottom: 5px
}
.mrtminus-100{
  margin-top: -100px
}
.mrtminus-90{
  margin-top: -90px
}
.mrtminus-80{
  margin-top: -80px
}
.mrtminus-70{
  margin-top: -70px
}
.mrtminus-60{
  margin-top: -60px
}
.mrtminus-50{
  margin-top: -50px
}
.mrtminus-40{
  margin-top: -40px
}
.mrtminus-30{
  margin-top: -30px
}
.mrtminus-20{
  margin-top: -20px
}
.mrtminus-10{
  margin-top: -10px
}
.mrbminus-100{
  margin-bottom: -100px
}
.mrbminus-90{
  margin-bottom: -90px
}
.mrbminus-80{
  margin-bottom: -80px
}
.mrbminus-70{
  margin-bottom: -70px
}
.mrbminus-60{
  margin-bottom: -60px
}
.mrbminus-40{
  margin-bottom: -40px
}
.mrbminus-30{
  margin-bottom: -30px
}
.mrbminus-20{
  margin-bottom: -20px
}
.mrbminus-10{
  margin-bottom: -10px
}
.mrbminus-5{
  margin-bottom: -5px
}
.pt-100{
  padding-top: 100px
}
.pt-90{
  padding-top: 90px
}
.pt-80{
  padding-top: 80px
}
.pt-70{
  padding-top: 70px
}
.pt-60{
  padding-top: 60px
}
.pt-50{
  padding-top: 50px
}
.pt-40{
  padding-top: 40px
}
.pt-30{
  padding-top: 30px
}
.pt-20{
  padding-top: 20px
}
.pt-10{
  padding-top: 10px
}
.pt-5{
  padding-top: 5px
}

.pb-100{
  padding-bottom: 100px
}
.pb-90{
  padding-bottom: 90px
}
.pb-80{
  padding-bottom: 80px
}
.pb-70{
  padding-bottom: 70px
}
.pb-60{
  padding-bottom: 60px
}
.pb-50{
  padding-bottom: 50px
}
.pb-40{
  padding-bottom: 40px
}
.pb-30{
  padding-bottom: 30px
}
.pb-20{
  padding-bottom: 20px
}
.pb-10{
  padding-bottom: 10px
}
.pb-5{
  padding-bottom: 5px
}
.ptminus-100{
  padding-top: -100px
}
.ptminus-90{
  padding-top: -90px
}
.ptminus-80{
  padding-top: -80px
}
.ptminus-70{
  padding-top: -70px
}
.ptminus-60{
  padding-top: -60px
}
.ptminus-50{
  padding-top: -50px
}
.ptminus-40{
  padding-top: -40px
}
.ptminus-30{
  padding-top: -30px
}
.ptminus-20{
  padding-top: -20px
}
.ptminus-10{
  padding-top: -10px
}
.ptminus-5{
  padding-top: -5px
}

.pbminus-100{
  padding-bottom: -100px
}
.pbminus-90{
  padding-bottom: -90px
}
.pbminus-80{
  padding-bottom: -80px
}
.pbminus-70{
  padding-bottom: -70px
}
.pbminus-60{
  padding-bottom: -60px
}
.pbminus-50{
  padding-bottom: -50px
}
.pbminus-40{
  padding-bottom: -40px
}
.pbminus-30{
  padding-bottom: -30px
}
.pbminus-20{
  padding-bottom: -20px
}
.pbminus-10{
  padding-bottom: -10px
}
.pbminus-5{
  padding-bottom: -5px
}
.mr-auto, .mx-auto {
  margin-right: auto!important;
}
.ml-auto, .mx-auto {
  margin-left: auto!important;
}
.error_input {
  border: solid 1px #D31E2B!important;
}
.white-color{
  color: #ffffff;
}
.concretesolid-bg{
  background: $concretesolid !important;
}
.breadcrumb-bg{
  background: $paragraph-color;
}
.error {
  clear: both;
  color: #e73c37;
  padding-top: 20px;
}

.success {
  clear: both;
  color: #96c346;
  padding-top: 20px;
}
#mail_success, #mail_fail{display: none;}
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
select:focus,
label:focus,
button:focus {
  outline: 0px !important;
  box-shadow: none !important;
}
.gradient_bg {
  background-image: linear-gradient(
    33.108deg,
    rgb(242, 251, 255) 0%,
    rgb(255, 242, 254) 100%
  );
}
.gradient_bg2 {
  background-image: linear-gradient(33.108deg, #acd5e8 0%, #fff2fe 100%);
}
.container {
  @media (min-width: 1180px) {
    max-width: 1170px;
  }
}
.title {
  margin-bottom: 70px;
  h6 {
    font-weight: 500;
    color: $persimmon-approx;
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 10px;
  }
  h2 {
    font-weight: 600;
    color: $black-approx;
    font-size: 45px;
  }
}
.border_line {
  width: 40px;
  height: 2px;
  background: $persimmon-approx;
  display: block;
  margin-bottom: 7px;
}
.cursor {
  height: 50px;
  width: 50px;
  border: 1.7px solid $persimmon-approx;
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim 0.5s infinite alternate;
  z-index: 500;
  &:before {
    content: "";
    background: $persimmon-approx;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    bottom: 6px;
    left: 32px;
    z-index: -1;
  }
  &:after {
    content: "";
    background: $white;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    bottom: 8px;
    left: 75%;
    transform: translateX(50%);
    position: absolute;
    border-radius: 50%;
    animation: currsorAnim2 0.5s infinite alternate;
    z-index: 1;
  }
}

.features-list {
  padding-left: 0;
  list-style-type: none;
  margin: {
      top: 25px;
      bottom: 30px;
  }
  li {
      margin-bottom: 16px;
      position: relative;
      padding-left: 34px;
      color: $paragraph-color;
      font-size: 15px;
      i {
          width: 25px;
          height: 25px;
          line-height: 25px;
          text-align: center;
          border-radius: 40px;
          background-color: #faf5f5;
          color: $persimmon-approx;
          transition: $transition;
          display: inline-block;
          font-size: 11px;
          position: absolute;
          left: 0;
          top: 2px;
      }
      &:hover {
          i {
              background-color: $persimmon-approx;
              color: $white;
          }
      }
      &:last-child {
          margin-bottom: 0;
      }
  }
}

blockquote,
.blockquote {
    overflow: hidden;
    background-color: #fafafa;
    padding: 50px !important;
    position: relative;
    text-align: center;
    z-index: 1;
    margin: {
        bottom: 20px;
        top: 20px;
    }
    p {
        color: $black-approx;
        line-height: 1.6;
        margin-bottom: 0;
        font: {
            style: italic;
            weight: 500;
            size: 24px !important;
        }
    }
    cite {
        display: none;
    }
    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 3px;
        background-color: $persimmon-approx;
        margin: {
            top: 20px;
            bottom: 20px;
        }
    }
}
.article-share-list {
  padding-left: 0;
  list-style-type: none;
  text-align: right;
  margin: {
      bottom: 0;
  }
  li {
      display: inline-block;
      span {
          display: inline-block;
          margin-right: 2px;
          font-weight: 500;
          color: $black-approx;
      }
      a {
          display: block;
          color: $persimmon-approx;
          width: 30px;
          height: 30px;
          line-height: 30px;
          border-radius: 50%;
          background-color: $silver-approx;
          text-align: center;
          font-size: 12px;

          &:hover {
              color: $white;
              background-color: $persimmon-approx;
              transform: translateY(-2px);
          }
      }
  }
}
.wp-block-gallery {
  &.columns-3 {
      padding-left: 0;
      list-style-type: none;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin: {
          right: -10px;
          left: -10px;
          bottom: 30px;
          top: 30px;
      }
      li {
          -ms-flex: 0 0 33.3333%;
          flex: 0 0 33.3333%;
          max-width: 33.3333%;
          padding: {
              right: 10px;
              left: 10px;
          }
          figure {
              margin-bottom: 0;
          }
      }
  }
}

.single-fun-fact {
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  background-color: #f3f3f3;
  border: 1px solid #f3f3f3;
  padding: 30px 40px;
  z-index: 1;
  transition: $transition;

  .icon {
      i {
          font-size: 50px;
          color: $persimmon-approx;
          line-height: 1;
          transition: $transition;
      }
  }
  h3 {
      position: relative;
      font-size: 40px;
      font-weight: 700;
      margin: 15px 0 5px 0;
      transition: $transition;
  }
  p {
      line-height: initial;
      margin: 0 0 0 0;
      transition: $transition;
      font-size: 18px;
      font-weight: 500;
  }

  &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 0%;
      background: $persimmon-approx;
      border-radius: 0;
      transition: $transition;
  }

  &:hover {
      border: 1px solid $persimmon-approx;
      &::before {
          height: 100%;
      }
      .icon {
          i {
              color: $white;
          }
      }
      h3 {
          color: $white;
          .sign-icon {
              color: $white;
          }
      }
      p {
          color: $white;
      }
  }
}
.go-top {
  position: fixed;
  cursor: pointer;
  top: 0;
  right: 15px;
  color: $white;
  background-color: $persimmon-approx;
  z-index: 4;
  width: 40px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  opacity: 0;
  visibility: hidden;
  transition: 0.9s;
  border-radius: 50%;
  border: 1px solid $persimmon-approx;

  &.active {
      top: 98%;
      transform: translateY(-98%);
      opacity: 1;
      visibility: visible;
  }
  i {
      position: absolute;
      top: 50%;
      transform: translateY(-60%);
      left: 0;
      right: 0;
      margin: 0 auto;
      transition: $transition;
      font-size: 16px;

      &:last-child {
          opacity: 0;
          visibility: hidden;
          top: 60%;
      }
  }
  &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: $black-approx;
      opacity: 0;
      visibility: hidden;
      transition: $transition;
      border-radius: 50%;
  }
  &:hover,
  &:focus {
      color: $white;

      &::before {
          opacity: 1;
          visibility: visible;
      }
      i {
          &:first-child {
              opacity: 0;
              top: 0;
              visibility: hidden;
          }
          &:last-child {
              opacity: 1;
              visibility: visible;
              top: 50%;
          }
      }
  }
}