.skillbar-box {
  list-style: none;
  padding-left: 0;
  margin: 0;
  li {
    & + li {
      margin-top: 30px;
    }
  }
  .custom-skillbar-title {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #3c284e;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .skillbar-bg {
    height: 5px;
    background: #eaf4f9;
    position: relative;
    .custom-skillbar {
      background: $persimmon-approx;
      height: 100%;
      position: absolute;
      left: 0;
      width: 0;
    }
  }
}