/*=========== team_slider css ===========*/
.team_slider {
  padding: 60px 0px 0px;
  margin-bottom: 0 !important;
  .slick-list {
    padding-left: 0 !important;
    padding-right: 0 !important;
    overflow: visible;
  }
  .slick-dots {
    margin-top: 110px;
  }
  .item {
    padding: 0px 15px;
    text-align: center;
    transition: all 0.2s linear;
    .team_item {
      transition: all 0.2s linear;
      transform: scale(0.8);
    }
    img {
      display: inline-block;
    }
    &.slick-active {
      .team_item {
        transform: scale(1);
        img {
          max-width: 100%;
          border-radius: 5px;
        }
        .team_content {
          opacity: 1;
        }
      }
    }
    .team_content {
      padding-top: 25px;
      opacity: 0;
      transition: all 0.2s linear;
      h4 {
        font-size: 20px;
        color: #061709;
        font-weight: 700;
        margin-bottom: 4px;
        transition: all 0.2s linear;
        &:hover {
          color: $blue;
        }
      }
      p {
        font-size: 14px;
        color: #838383;
        font-weight: 400;
        margin-bottom: 0;
      }
    }
  }
}
/*=========== team_slider css ===========*/

/*=========== testimonial slider css ===========*/
.testimonial_slider {
  margin-bottom: 0 !important;
  margin-left: -250px;
  margin-right: -250px;
  .item {
    padding-left: 10px;
    padding-right: 10px;
    @media (min-width: 768px) {
      max-width: 570px;
      width: 570px !important;
      transform: scale(0.8);
      opacity: 0.18;
      transition: all 0.2s linear;
      &.slick-center {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
  .slick-arrow {
    &.slick-prev {
      left: 250px;
    }
    &.slick-next {
      right: 250px;
    }
    &:hover {
      &.slick-prev {
        left: 240px;
      }
      &.slick-next {
        right: 240px;
      }
    }
  }
}
.testimonail_item {
  h4 {
    font-size: 20px;
    font-weight: 700;
    color: $title;
    margin-bottom: 28px;
    font-family: $mon;
  }
  p {
    font-size: 14px;
    line-height: 28px;
    color: $pcolor;
    font-style: italic;
    margin-bottom: 0;
  }
  .clients_img {
    margin-top: 50px;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: inline-block;
      margin-bottom: 12px;
    }
    h6 {
      font-size: 14px;
      font-weight: 600;
      color: $title;
    }
  }
}

/*=========== testimonial slider css ===========*/
