/*font Variables*/
$mon: "Montserrat", sans-serif;
/*Color Variables*/
$blue: #30bfff;
$black: #000;
$pcolor: #4a4a4a;
$title: #3c284e;
/*=================== fonts ====================*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap");

/*Mixins*/
@mixin transition(
  $property: all,
  $duration: 300ms,
  $animate: linear,
  $delay: 0s
) {
  transition: $property $duration $animate $delay;
}

/* Placeholder Mixins*/

@mixin placeholder {
  &.placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
}
