
@media (max-width: 1400px){
  .testimonial-area-two .img_shap{
    width: 100%;
  }
  .banner_img .img_one,.banner_img .img_two{
    max-width: 100%;
  }
}
@media (max-width: 1199px) {
  .about_img{
    max-width: 650px;
  }
  .about_img .img_two{
    bottom: 26px;
  }
  .about_content{
    padding-left: 0;
  }
  .focus-content {
    margin-top: 50px;
  }
  .optimize-image img,
  .recent-projects-slider img,
  .creative-image img {
    max-width: 100%;
  }
  .apps-promo {
    padding-left: 0;
  }
  .optimize-image-circle {
    width: 310px;
    height: 310px;
    right: 0;
  }
  .footer-top .widget_navigate {
    padding-left: 10px;
  }
  .footer-top .widget_social {
    margin-left: 30px;
  }
  .contact-inner .form-group .from_btn {
    padding: 11px 31px;
  }
  .contact-title h2 {
    font-size: 54px;
    line-height: 1.4;
  }
  .solution-rainbow img {
    max-width: 100%;
  }
  .solution-rainbow {
    margin-left: 0;
  }
  .creative-content {
    margin-left: 0;
  }
  .solution-area {
    padding-top: 40px;
  }
  .analysis-item h4 {
    font-size: 24px;
  }
  .ourvideo-image img,
  .portfoliodetails-image img,
  .portdetails-right .port-img img {
    max-width: 100%;
  }
  .choice-item {
    padding: 45px 10px 55px 15px;
  }
  .choice-area {
    padding-bottom: 100px;
  }
  .blog-item {
    padding-right: 0;
  }
  .blog-item .blog_gallary_slider .slick-prev {
    left: 93.2%;
  }
  .blog-grid .blog-item .blog_gallary_slider .slick-prev {
    left: 80.2%;
  }
  .blog-sidebar {
    padding-left: 0;
  }
  .menu > .nav-item {
    margin-left: 20px;
  }
  .features_area .about_content{
    padding-top: 0;
    padding-right: 0;
  }
  .about_area{
    padding-bottom: 90px;
  }

}

@media (max-width: 991px) {
  .features_inner{
    margin-top: 80px;
  }
  .footer-top .widget_social {
    margin-left: 0;
  }
  .footer-top .widget_navigate {
    padding-left: 0;
  }
  .footer-widget,.team_content{
    margin-bottom: 50px;
  }
  .footer-top {
    padding-bottom: 20px;
  }
  .footer-widget .f-title {
    margin-bottom: 20px;
  }
  .business-content h2 {
    line-height: 1.4;
    font-size: 35px;
  }
  .design-right {
    margin-left: 0;
  }
  .title h2 {
    font-size: 36px;
  }
  .design-area {
    padding-top: 80px;
  }
  .feature-image ul li:last-child {
    top: 300px;
  }
  .sec_pad,
  .optimize-area,
  .creative-area,
  .pricing-area,
  .blog-area,
  .single-blog-area,
  .portfoliodetails-area,
  .portfoliogrid-image,
  .portfoliogrid-image {
    padding: 80px 0px;
  }
  .blog-item .blog_gallary_slider .slick-prev {
    left: 91.2%;
  }
  .focus-content {
    margin-top: 0;
  }
  .focus-area,
  .testimonial-area,
  .ourvideo-area {
    padding-top: 80px;
  }
  .apps-promo {
    margin-top: 50px;
    margin-bottom: -30px;
  }
  .title {
    margin-bottom: 50px;
  }
  .counterup-item {
    margin-top: 30px;
    text-align: center;
  }
  .team-area,
  .choice-area {
    padding-bottom: 80px;
  }
  .analysis-item .express {
    margin-top: 0px;
  }
  .analysis-item {
    margin-top: 40px;
  }
  .connecting-subscribe {
    margin-top: 20px;
  }
  .analysis-area {
    padding-top: 0;
    padding-bottom: 80px;
  }
  .creative-image {
    margin-bottom: 30px;
  }
  .solution-item {
    padding-bottom: 25px;
  }
  .recent-projects-area .hover_btn {
    margin-top: 10px;
  }
  .solution-area {
    padding-top: 0;
  }
  .choice-content .col-md-4 {
    border: 1px solid #f3f3f3;
  }
  .choice-content .col-md-4:nth-child(n + 4) {
    border-bottom: 1px solid #f3f3f3;
  }
  .choice-item {
    padding: 45px 10px 35px 15px;
  }
  .portfoliodetails-service ul li a span {
    margin-right: 5px;
  }
  .portfoliodetails-social-area ul li a {
    margin-left: 7px;
    margin-right: 7px;
  }
  .portdetails-left .portfoliodetails-social-area {
    margin-top: 10px;
  }
  .portfoliogrid-image .title {
    margin-bottom: 30px;
  }
  .portfoliogrid-masonary {
    padding-bottom: 0;
  }
  .nav_right.navbar-nav {
    flex-direction: inherit;
    padding: 0px;
  }
  .nav_right .nav-item {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .nav_right:before {
    margin-left: 18px;
    margin-top: -4px;
    height: 20px;
  }
  .navbar-sticky .nav_right .nav-item {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-sticky .navbar-toggler span {
    background: #ffffff;
  }
  .navbar-sticky.sticky .navbar-toggler span {
    background: #7a7a7a;
  }
  .navbar-sticky.sticky .menu > .nav-item {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .menu > .nav-item.mega_menu{
    position: relative;
  }
  .menu > .nav-item.mega_menu .mega_menu_inner .maga_menu_col ul{
    display: block;
  }
  .menu > .nav-item.mega_menu .mega_menu_inner .maga_menu_col ul > .nav-item > .dropdown-menu{
    display: none;
  }
  .menu > .nav-item.mega_menu .mega_menu_inner .maga_menu_col ul > .nav-item{
    width: 100%;
    padding: 10px 0px;
  }
  .menu > .nav-item.mega_menu .mega_menu_inner .maga_menu_col ul > .nav-item > .dropdown-menu li{
    margin-bottom: 0;
  }
  .navbar-collapse {
    position: absolute;
    background: #fff;
    top: 100%;
    margin-left: 15px;
    margin-right: 15px;
    left: 0px;
    right: 0px;
  }
  .navbar .container {
    position: relative;
  }
  .menu > .nav-item,
  .navbar-sticky .menu > .nav-item {
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .menu > .nav-item.submenu .dropdown-menu {
    padding: 10px 15px;
  }
  .menu > .nav-item.submenu .dropdown-menu .nav-item {
    padding: 0px;
  }
  .menu > .nav-item > .nav-link {
    color: #7a7a7a;
  }
  .menu > .nav-item .mobile_dropdown_icon {
    display: block;
    position: absolute;
    right: 0;
    top: 4px;
    font-size: 22px;
    transition: all 0.2s;
  }
  .navbar-nav {
    padding: 10px 15px 0px;
  }
  .banner_img{
    margin-top: 40px;
  }
  .portfolio_area_two{
    padding: 50px 0px;
  }
  .testimonial-area-two .img_shap img,.portfolio_item .img_hover img{
    max-width: 100%;
  }
  .portfolio_item .content{
    margin-left: 15px;
    margin-right: 15px;
  }
  .portfolio_item .content h3{
    font-size: 18px;
  }
  .about_img .shap{
    width: 100%;
  }
  .menu_black .navbar-toggler span{
    background: #7a7a7a;
  }
  .banner_area {
    padding: 140px 0px 100px;
  }
  .banner_content .hover_btn{
    padding: 7px 35px;
  }
  .search_area {
    padding: 150px 0px 100px;
  }
  .search_content_list{
    padding-top: 0;
  }
  .contact-info{
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .contact-inner .form-group {
    width: 50%;
  }
  .contact-inner .form-group:last-child {
    width: 100%;
  }
  .contact-inner .form-group .from_btn {
    display: inline-block;
    margin-top: 20px;
  }
  .contact-title h2 {
    font-size: 40px;
    line-height: 1.3;
  }
  .contact-form p {
    margin-top: 5px;
    margin-bottom: 0;
  }
  .title h2 {
    font-size: 33px;
  }
  .optimize-image-circle {
    left: 50%;
    transform: translateX(-50%);
    right: auto;
  }
  .focus-image {
    margin-left: 0;
    margin-right: 0;
    margin-top: 40px;
  }
  .business-area .video_icon {
    margin-top: 80px;
  }
  .business-content {
    max-width: 100%;
    text-align: center;
  }
  .business-area {
    padding-top: 100px;
  }
  .design-right h5 {
    margin-top: 0;
  }
  .design-area .title {
    margin-bottom: 30px;
  }
  .feature-content h5 {
    margin-bottom: 20px;
  }
  .feature-content p {
    margin-bottom: 0;
  }
  .function-item {
    margin-top: 40px;
  }
  .function-area .row {
    margin-top: -40px;
  }
  .breadcrumb-content p {
    font-size: 15px;
    line-height: 26px;
  }
  .breadcrumb-area breadcrumb-1 {
    padding-top: 50px;
  }
  .creative-content .title h2 br {
    display: none;
  }
  .creative-content .title h2,
  .solution-content .title h2 {
    font-size: 30px;
  }
  .working-content h2 {
    font-size: 34px;
    line-height: 44px;
  }
  .blog-sidebar {
    margin-top: 50px;
  }
  .portfoliodetails-detailing {
    padding-bottom: 0;
  }
  .portfoliodetails-detailing p:last-child {
    margin-bottom: 0;
  }
  .portfoliodetails-social-area {
    padding-top: 15px;
  }
  .portdetails-left .portfoliodetails-social-area {
    margin-top: 0;
  }
  .portdetails-right {
    margin-top: 40px;
  }
  .portfoliogrid-inner .wid-20,
  .portfoliogrid-inner .wid-40 {
    width: 50%;
  }
  .four-area {
    text-align: center;
  }
  .four-area .d-flex {
    display: block !important;
  }
  .four-left p {
    max-width: 100%;
  }
  .four-right {
    margin-top: 40px;
  }
  .banner_slider_area,
  .banner_slider_area .swiper-container {
    min-height: auto;
    height: auto;
  }
  .slider_item {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .banner_slider_content {
    padding-top: 0;
  }
  .banner_slider_content h2 {
    font-size: 6vw;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  .banner_slider_content p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
  }
  .breadcrumb-content{
    padding-top: 10px;
  }
  .blog-grid .blog-item{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .blog-grid{
    margin-left: 0;
    margin-right: 0;
  }
  .blog-grid.blog-link-grid .blog-item {
    margin-bottom: 55px;
  }
  .blog-grid.blog-grid-quote .blog-item {
    margin-bottom: 55px;
  }
  .blog-item .blog_gallary_slider .slick-prev {
    left: 92.3%;
  }
  .blog-grid .blog-item .blog_gallary_slider .slick-prev {
    left: 92.2%;
  }
  .contact-area-two{
    padding: 80px 0;
  }
  .contact-form-box input{
    margin-bottom: 20px;
  }
  .contact-info{
    margin-top: 40px;
  }
}

@media (max-width: 576px) {
  .contact-inner .form-group {
    width: 100%;
    margin-bottom: 10px;
  }
  .feature-image .memphis-parallax {
    display: none;
  }
  .team-slider .team_img img {
    width: 100%;
  }
  .choice-content .col-md-4 {
    border: 0px !important;
    padding-left: 13px;
    padding-right: 13px;
  }
  .choice-item p {
    max-width: 100%;
  }
  .choice-item {
    padding: 5px 10px 25px 15px;
  }
  .comment-box li ul {
    padding-left: 0;
  }
  .comment-box li .media .media-body .reply_btn {
    position: relative;
    top: 0;
  }
  .comment-box li .media {
    padding-bottom: 35px;
  }
  .comment-box li .media .img_rounded {
    margin-right: 10px;
  }
  .breadcrumb-area breadcrumb-1 {
    min-height: 380px;
  }
  .breadcrumb-content h2 {
    font-size: 33px;
  }
  .portfoliogrid-inner .port-image {
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
  }
  .portfoliogrid-inner .wid-20,
  .portfoliogrid-inner .wid-40,
  .portfoliogrid-masonary .portfoliogrid-inner .portfolio .port-image img {
    width: 100%;
  }
  .portfoliogrid-masonary .portfoliogrid-inner .portfolio .port-image {
    max-width: 100%;
  }
  .navbar-collapse {
    margin-left: 0;
    margin-right: 0;
  }
  .banner_slider_content .d-flex {
    display: block !important;
  }
  .banner_slider_content .hover_btn {
    margin-right: 0;
  }
  .banner_slider_content .video_btn {
    display: block;
    max-width: 200px;
    margin-top: 10px;
  }
  .recent-projects-slider .item img {
    width: 100%;
  }
  .contact-inner .form-group .from_btn {
    width: 100%;
  }
  .features_col{
    width: 100%;
  }
  .features_col:nth-child(2){
    margin-top: 0;
  }
  .portfolio_area_two .portfolio_item{
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
  .banner_content h2{
    font-size: 40px;
    line-height: 60px;
  }
  .preloader-1 .animation-preloader .spinner{
    width: 4em;
    height: 4em;
  }
  .preloader-1 .animation-preloader .txt-loading{font: bold 3em "Poppins", sans-serif;}
}
@media (max-width: 425px) {
  .blog-item .blog_gallary_slider .slick-prev {
      left: 90.3%;
  }
  .blog-grid .blog-item .blog_gallary_slider .slick-prev {
      left: 86.3%;
  }
}